/* * {
    border: 1px red solid;
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: #0E7E12 !important;
}

/* CARD */
.card {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    height: 420px;
    width: 280px;
    min-height: 320px;
    min-width: 180px;
    border-radius: 15px;
    padding: 0 5px 0 3px;
    box-shadow: 2px 2px 10px black;
}

.card h1 {
    font-size: 100px;
    margin: auto;
}

.card p {
    font-size: 80px;

}

.card p:nth-child(1) {
    margin: -5px auto 0 0;
}

.card p:nth-child(3) {
    margin: 0 0 -5px auto;

}

/* CARD END*/

/* INPUTS */
.resize {
    margin: 15px 0;
}



input,
span {
    width: 75px !important;
    height: 20px;
    font-size: 15px !important;
    text-align: end;
    border-radius: 0 !important;
}

input::placeholder {
    color: rgba(58, 58, 58, 0.304) !important;
}

span {
    height: 20px;
}

.in,
.btn {
    box-shadow: 1px 1px 5px black;
}

.inputs {
    text-align: center;
}

/* INPUTS END/