/* * {
    border: 1px red solid;
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: #0E7E12;
}

/* CARD */
.card {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    height: 440px;
    width: 300px;

    border-radius: 15px;
    padding: 0 5px 0 3px;
    box-shadow: 2px 2px 10px black;
}

.card h1 {
    font-size: 130px;
}

.card p {
    font-size: 110px;
}

.iconOne p {
    padding-left: 5px;
}

.iconTwo p {
    padding-right: 5px;
}

.card h1,
.card p {
    font-family: "fangsong";
    margin: 0;
}

.iconOne {
    margin: 0 auto auto 0;
}

.iconTwo {
    margin: auto 0 0 auto;

}


/* INPUTS */
.resize {
    margin-top: 45px;
}

input,
span {
    width: 85px !important;
    height: 20px;
    font-size: 15px;
    text-align: center;
    border-radius: 1px !important;

}

input::placeholder {
    color: rgba(58, 58, 58, 0.304);
}

input {
    background-color: red;
}

span {
    height: 20px;
}

.in,
.btn {
    box-shadow: 1px 1px 5px black;
}

.inputs {
    text-align: center;
}